.contact {
    margin-bottom: 150px;
}
.contact img {
    height: 500px;
    object-fit: cover;
    box-shadow: var(--boxShadow);
    cursor: pointer;
}
.contact form{
    box-shadow: var(--boxShadow);
    padding: 20px;
}
.contact input,
textarea {
    background: none !important;
    color: white !important;
}

.contact label {
    color: white !important;
}

.contact .form-group {
    margin: 15px auto;
}

.contact textarea{
    resize: none !important;
    height: 12rem;
}

.contact .btn {
    background: var(--main);
    color: white !important;
    margin-top: 10px;
}